@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway/Raleway-Light.ttf);
  font-style: lighter;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway/Raleway-Regular.ttf);
  font-style: Medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway/Raleway-Bold.ttf);
  font-style: Bold;
  font-weight: 700;
  font-display: swap;
}
@-webkit-keyframes slidein {
  0% {
    height: 1%;
  }
  to {
    height: 100%;
  }
}
@keyframes slidein {
  0% {
    height: 1%;
  }
  to {
    height: 100%;
  }
}
@-webkit-keyframes blink-caret {
  0%,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  0%,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
body > #root > div {
  height: 100vh;
}
.space30 {
  padding: 20px;
  background-color: #0b0b0c;
}
.vfont {
  font-family: Raleway;
  font-weight: 700;
  color: #acacac;
}
.header {
  background-color: #0b0b0c;
  display: flex;
  float: right;
  width: 100%;
  padding: 10px 10px 10px 20px;
}
.header-item {
  color: #fff;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 50px;
}
.hero-container {
  width: 100%;
  height: 100%;
  background-color: #0b0b0c;
  margin: 0;
  display: flex;
}
.hero-left {
  width: 45%;
  height: 100%;
  margin-left: 0;
  border-left: 0;
}
.hero-right {
  width: 52%;
  height: 100%;
  overflow: auto;
}
.hero-right::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.hero-title {
  font-family: Raleway, sans-serif;
  letter-spacing: 0.1em;
  height: 9vw;
  font-size: 7.5vw;
  font-weight: 300;
  color: #fff;
  margin-left: 50px;
  padding: 20px;
}
.hero-subtitle {
  font-size: 20px;
  letter-spacing: 0.5em;
  color: #c5c5c5;
  margin-top: 40px;
}
.hero-desc,
.hero-subtitle {
  width: 450px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin-left: 80px;
}
.hero-desc {
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #868686;
  margin-top: 10px;
}
.project-box {
  width: 100%;
  height: 1500px;
  display: grid;
  grid-template-rows: repeat(3, 300px);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
  grid-auto-flow: row;
}
.prj-space {
  padding: 10px;
  background-color: #0b0b0c;
}
.prj {
  width: 100%;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.imgprj,
.prj {
  font-family: Raleway, sans-serif;
  height: 0%;
  background-color: #1a1a1f;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  -webkit-animation-name: slidein;
  animation-name: slidein;
}
.imgprj {
  width: 95%;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
}
.prj:first-child {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.prj:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.prj:nth-child(3) {
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}
.prj:nth-child(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.prj:nth-child(5) {
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}
.prj:nth-child(6) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.prj:nth-child(7) {
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
}
.prj:nth-child(8) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.prj h1 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  margin-left: 40px;
  margin-top: 0;
}
.prj h3 {
  padding-top: 40px;
}
.prj h3,
.prj h4 {
  font-size: 13px;
  letter-spacing: 0.15em;
  font-weight: 700;
  color: #acacac;
  padding-left: 40px;
}
.prj h4 {
  padding-top: 50px;
}
.prj p {
  font-size: 12px;
  font-weight: 300;
  padding-left: 40px;
  height: auto;
  width: 90%;
}
.prj button,
.prj p {
  letter-spacing: 0.15em;
  color: #acacac;
}
.prj button {
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
  background-color: #24242b;
  border-radius: 15px;
  padding: 10px;
  margin-left: 30px;
}
.prj div {
  width: 90%;
  align-self: center;
  height: 47%;
  background-color: #2e2e2e;
  margin-top: 10px;
  margin-left: 30px;
}
.prj-large h4 {
  font-size: 13px;
  letter-spacing: 0.15em;
  font-weight: 700;
  color: #acacac;
  padding-left: 40px;
  padding-top: 50px;
}
@media screen and (max-width: 1180px) {
  .hero-container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    display: bottom;
  }
  .hero-left {
    width: 100%;
    height: 100%;
    margin-left: 0;
    border-left: 0;
  }
  .hero-right {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: bottom;
    position: relative;
  }
}
